.hero {
	@apply relative;
	@apply px-12 py-16 pb-60;
	padding-bottom: 230px;

	background: rgb(180,236,81);
	background: -moz-linear-gradient(157deg, rgba(180,236,81,1) 0%, rgba(66,147,33,1) 40%);
	background: -webkit-linear-gradient(157deg, rgba(180,236,81,1) 0%, rgba(66,147,33,1) 40%);
	background: linear-gradient(157deg, rgba(180,236,81,1) 0%, rgba(66,147,33,1) 40%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4ec51",endColorstr="#429321",GradientType=1);

	.hero-content {
		@apply flex space-x-16 items-center;
		@apply mt-16;
		@apply font-noto-sans;
		.header {
			@apply text-white font-bold;
			font-size: 4.2rem;
			line-height: 5rem;
		}

		.subtext {
			@apply my-8 font-source-pro;
			.info {
				@apply flex items-center;	
				@apply text-3xl text-white;
				.icon {
					@apply mr-4;
					width: 20px;
				}
			}
		}

		img {
			@apply inline-block;
		}
	}

	.section-divider {
		@apply absolute;
		@apply bottom-0 2xl:-bottom-1.5 left-0 right-0;
		@apply w-full h-auto;

		img {
			@apply w-full;
		}
	}
}