:root {
  --spare-color-primary: rgba(180, 236, 81, 1);
  --spare-color-secondary: rgba(62, 76, 57, 1);
  --spare-color-tertiary: rgba(66, 147, 33, 1);
  --spare-color-red-dark: rgba(219, 54, 54, 1);
  --spare-color-red-light: rgba(241, 174, 174, 1);
  --spare-color-yellow-dark: rgba(222, 168, 42, 1);
  --spare-color-yellow-light: rgba(237, 208, 140, 1);
  --spare-color-blue-dark: rgba(36, 77, 212, 1);
  --spare-color-blue-light: rgba(124, 150, 233, 1);
  --spare-color-orange-dark: rgba(235, 81, 39, 1);
  --spare-color-orange-light: rgba(242, 139, 111, 1);
  --spare-color-green-dark: rgba(55, 133, 24, 1);
  --spare-color-green-light: rgba(206, 234, 194, 1);
  --spare-color-green-lighter: rgba(184, 233, 134, 1);
  --spare-color-gray-dark: rgba(155, 155, 155, 1);
  --spare-color-gray-light: rgba(242, 244, 246, 1);
  --spare-font-family-primary: 'Source Sans Pro';
  --spare-font-family-secondary: 'Noto Sans';
}
